@media(max-width:1200px){
    .conteiner,
    .content,
    .work{
        width: 1100px; 
    }
    .bottom {
        width: 430px;
        margin-left: 50px;
        text-align: center;
        justify-content: center;
        line-height: 30px;
        padding:25px 40px 40px 20px;
        font-size: 18px;
        top:85%;
    }
    .fotter {
        margin-left:45px;
    }
}

@media(max-width:1000px){
    .work {
        height: 350px;
        width: 1000px;
    }
    .content {
        top:15%;
        width: 400px;
        flex-direction: column-reverse;
        margin-left: 50px;
    }
    .bottom {
        width: 430px;
        margin-left: 50px;
        text-align: center;
        justify-content: center;
        line-height: 30px;
        padding:35px;
        font-size: 18px;
        top:80%;
    }
    .fotter {
        margin-left:45px;
    }
}
 @media (max-width:900px){
    .work {
        max-height: 320px;
        width: 100%;

    } 
}
@media(max-width:600px){
    .content {
        top:18%;
        width: 400px;
        margin-left: 50px;
        /* z-index: 10; */
    }
    .work {
        height: 280px;
        width: 100%;
    }
    .bottom {
        width: 430px;
        margin-left: 50px;
        text-align: center;
        justify-content: center;
        line-height: 30px;
        padding:35px;
        font-size: 18px;
        top:80%;
    }
    .fotter {
        margin-left:45px;
    }
       /* .noHover {
        pointer-events: none;
    }  */
} 
@media(max-width:520px){
    .conteiner .text {
        font-size: 15px;
    }
    .content {
        top:18%;
        width: 300px;
        margin-left: 50px;
    }
    .work{
        height: 250px;
        width: 100%;
    }
    .bottom {
        width: 300px;
        margin-left: 50px;
        text-align: center;
        justify-content: center;
        line-height: 30px;
        padding:35px;
        font-size: 18px;
        top:78%;
    }
    .fotter {
        margin-left:45px;
    }
}
@media(max-width:400px){
    .text {
        line-height: 20px;
        padding: 10px 10px;
        font-size: 3px;
    }
    .content {
        top:18%;
        width: 250px;
        margin-left: 50px;
        max-height: 100vh;
        
    }
    .work{
        height: 200px;
        width: 100%;
    }
    .bottom {
        width: 200px;
        margin-left: 50px;
        text-align: center;
        justify-content: center;
        line-height: 30px;
        padding:35px;
        font-size: 15px;
        top:78%;
    }
    .fotter {
        margin-left:45px;
    }
}